/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  nav{
    height: 70px;
  }
  nav a{
    color: #000;
    }
  nav ul a{
    color: #000; 
  }
  .section{
    background:linear-gradient(rgba(39, 82, 61, 0.5), rgba(5, 66, 58, 0.5)), url(../img/principalAlumnos.jpg);
    background-size: cover;
    height: 89vh;
  }
  .section #principal{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }
